<div class="slider">
  <div class="slides">
    <div id="slide-1">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <h5 style="margin-top: 0">Students</h5>
          <div class="big-number">
            <span>32</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div id="slide-2">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <h5 style="margin-top: 0">Incomes</h5>
          <div class="big-number">
            <span>12'500</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div id="slide-3">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <h5 style="margin-top: 0">Unpayed class</h5>
          <div class="big-number red">
            <span>12</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
